<div class="container">
  <h2>Eat-Da-Burger</h2>

  <img class="img" src="../assets/images/burger.jpg" alt="burgerimage" width="250" height="200">
</div>

<ol class="left">
  {{#each burgers}} {{#unless devoured}} {{> burger/burger-block devour=true}} {{/unless}} {{/each}}
  
</ol>


<ol class="right">
  {{#each burgers}} {{#if devoured}} {{> burger/devour-block devour=false}} {{/if}} {{/each}}
  
</ol>



<form class="create-form">


  <div class="form-group">
    <label for="burger"></label>
    <textarea rows="3" cols="40" id="bg" name="name"></textarea>
  </div>

  <br>

  <button type="submit"  class="submit">SUBMIT</button>
  <p>Enter the burger you want to eat and click SUBMIT</p>

</form>
