
body{
    background: rgb(207, 149, 77);
    left:200px;
    right: 200px;
}
.jumbotron{
    background-color:  rgb(207, 149, 77);
    height: 150px;
}

img{
    height: 150px;
    width:180px;
}
.textinput{
    margin: 10px;
    padding: 10px;
}

.submit{
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgb(54, 58, 61);
}


    
button{
    color:white;
    background-color: blue;   
}
.delete_it{
    color: white;
    background-color: red;
}



.container{
    text-align: center;
}

.left{
    position: relative;
    float: left;
    background-color: rgb(58, 139, 108);
    
}
.right{
    position: relative;
    float: right;
    background-color: rgb(112, 100, 163);
    
}

