
body{
    background: rgb(207, 149, 77);
    left:200px;
    right: 200px;
}
    
button{
    color:white;
    background-color: blue;   
}
.delete_it{
    color: white;
    background-color: red;
}
.submit{
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: rgb(54, 58, 61);
}


.container,.create-form{
    text-align: center;
}

.left{
    position: relative;
    width:250px;
    left: 250px;
    background-color: rgb(58, 139, 108);
    
}
.right{
    position: relative;
    width:250px;
    left:850px;
    background-color: rgb(112, 100, 163);
    
}

