
<li>
    {{burger}}

    <button class="devour_it" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}DEVOUR IT!{{/if}}
    </button>
    <button class="delete_it" data-id="{{id}}">DELETE!</button>
    <hr>
</li>